.about-container {
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .collapse-description {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }

  .collapse-header {

    background-color: #ff6060;
    color: white;
    font-size: 25px;
    font-weight:700;
  }
  
  .collapse-content {
    text-align: left;
    color: rgba(0,0,0,1);
    font-family: "Montserrat",sans-serif,;
   
  }