

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

body{font-family: "Montserrat", sans-serif;}


.logement-main{
  margin: 0 auto;
  width: 80vw;
}


.logement-container h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #ff6060;
}

.logement-container p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: rgba(0, 0, 0, 1);
}

.tags span {
  background-color: #ff6060; 
  color: white; 
  font-size: 14px;
  font-weight: 500;
  padding: 4px 18px;
  border-radius: 10px; 
  display: inline-block;
  text-align: center;
  white-space: nowrap; 
  gap: 15px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 45px;
  gap: 20px;
}


.info-owner {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin-bottom:35px;
  justify-content:center ;

}

.host-picture {
  height: 64px;
  width: 64px;
  float: right;

}


.host p {
  color: #ff6060;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  float: left;
  margin-right: 10px;
}

.host img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.rating {
  font-size: 40px;
  color: #ff6060;
  font-weight: bold;
}
.style-location{
  display: flex;
  justify-content: space-between;
  
}

@media (max-width: 768px) {
  .style-location{
    flex-direction: column;
  }
  .info-owner{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .image-index{
    left: 4%;
  }
  .next svg{
    width:15px;
  }
  .prev svg{
    width: 15px;
  }
}


@media (max-width: 320px) {
.next svg{
  width:15px;
}
.prev svg{
  width: 15px;
}
.image-index{
  position: absolute;
  bottom: 10px;
  left: 45%;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: -2px;
}
.style-location{
  flex-direction: column;
}
.info-owner{
  flex-direction: row-reverse;
  justify-content: space-between;
}
.tags span{
  font-size: 9px;
  font-weight: bold;
  padding: 10px 8px;
  border-radius: 7px;
}

.collapse-information{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.collapse-header{
  width: 95%;
}
.collapse-content {
  width: 91%;
}
}