body {
  font-family: "Montserrat", sans-serif;
}

.logement-main {
  margin: 0 auto;
  width: 80vw;
}

.logement-container h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #ff6060;
}

.logement-container p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: rgba(0, 0, 0, 1);
}

.tags span {
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 18px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  gap: 15px;
}

.tags {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: flex-start;
  padding-bottom: 45px;
  gap: 20px;
}

.info-owner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 35px;
  justify-content: center;
}

.host-picture {
  height: 64px;
  width: 64px;
  float: right;
}

.host p {
  color: #ff6060;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  float: left;
  margin-right: 10px;
}

.host img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.rating {
  color: #ff6060;
  font-size: 36px;
  padding-top: 34px;
}
.style-location {
  display: flex;
  justify-content: space-between;
}

.collapse-information {
  display: flex;
  flex-direction:column;
  gap: 50px;
  flex-wrap: nowrap;
}

.logement{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.logement .collapse-header {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .host-picture {
    height: 80px; 
    width: 80px;
  }


  .style-location {
    flex-direction: column;
  }
  .info-owner {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .image-index {
    left: 45%;
  }
  .next svg {
    width: 15px;
  }
  .prev svg {
    width: 15px;
  }
  .rating {
    color: #ff6060;
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .logement .collapse-header {
    font-size: 13px;
    font-weight: 700;
  }
  .image-index {
    display: none;
  }
  .logement-container h1 {
    font-size: 18px;
  }
}

@media (max-width: 375px) {

  .logement-container h1 {
    font-size: 18px;
  }
  .info-owner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }

  .host {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .host-picture {
    height: 60px;
    width: 60px;
    float: right;
  }

  .rating {
    display: flex;
    align-items: center; 
    font-size: 18px; 
  }

  .kasa-banner img {
    width: 25%;
  }

  
  .collapse-information {
    display: flex;
    flex-wrap: wrap;
  }
  .logement {
    display: flex;
    flex-direction: column;

}
.logement .collapse-header {
  font-size: 13px;
  font-weight: 700;
}

.image-index {
  display: none;
}

}

@media (max-width: 320px) {

  .logement-container h1 {
    font-size: 18px;
  }
  .logement-main {
    width: 90vw;
  }

  .next svg {
    width: 15px;
  }
  .prev svg {
    width: 15px;
  }
  

  .host-picture {
    height: 60px;
    width: 60px;
    float: right;
  }

  .style-location {
    flex-direction: column;
  }
  .info-owner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }

  .tags span {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 18px;
    border-radius: 10px;
  }
  .logement {
    display: flex;
    flex-direction: column;

}
.logement .collapse-header {
  font-size: 13px;
  font-weight: 700;
}
.image-index {
  display: none;
}
}