


.collapse {
  width: 100%;
  font-family: "Montserrat",sans-serif,;
}

.collapse-header{
  width: 100%;
  background-color: #ff6060;
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  border: none;
  outline: none;
}

.arrow {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  background: #f8f8f8;
  color: rgba(0,0,0,1);
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
  width: 100%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif,
}

.collapse-content ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
  }
  
  
  
@media (max-width: 767px) {

  .about-container{
    width:90%;
  }
  .collapse{
    width: 90%;
  }
  .collapse-information{
    display: flex;
    flex-direction: row;
    gap:80px;

  }
  
  .collapse-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .collapse-header {
    width: 95%;
  }
  .collapse-content {
    width: 100%;
    font-size: 12px;

    
  }

}


