.collapse {
  width: 100%;
  max-width: 600px;
  font-family: Arial, sans-serif;
}

.collapse-header {
  width: 100%;
  background-color: #ff6060;
  color: white;
  font-size: 25px;
  font-weight: 200px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  border: none;
  outline: none;
}

.arrow {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  background: #f8f8f8;
  color: #ff6060;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
  width: 98%;
  font-size: 25px;
}

.collapse-content ul {
    list-style: none; /* Supprime les puces */
    padding: 0; /* Supprime l'espace à gauche */
    margin: 0;
  }
  .collapse-content ul {
    list-style: none; /* Supprime les puces */
    padding: 0; /* Supprime l'espace à gauche */
    margin: 0;
  }
  
  .collapse-content ul {
    list-style: none;
  }
  
  .collapse-information{
    display: flex;
    flex-direction: row;
    gap:80px;

  }
  


