:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
 
  min-width: 320px;
  min-height: 100vh;
  background-color: #222;
}

#root{
width: 100%;
  display: flex;
  flex-direction: column;
}
.kasa-banner{
  display: flex;
align-items: center;
justify-content: space-between;
}

nav.links{
  display: flex;
  gap:20px;
  margin:20px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.banner {

  height:200px; 
  width: 90%;
  max-width: 1200px;
 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
 
 margin: 0 auto;
}

.banner__text {
  font-size: 42px;
  font-weight: bold;
  color: white;

.stylebanner{
  background: 'cover',
  
}
 
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.footer-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 150px;  /* Ajuste la taille selon tes besoins */
  height: auto;
  display: block;
  margin: 0 auto; /* Centre le logo horizontalement */
}

.footer__text{
  color: white;
}
.main{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
